body {
	background: none;
	font-family: 'Roboto Slab', serif;
	min-height: 100%;
	padding-right: 0px !important
}

.full {
  background: url('computer8.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	min-height: 100%;
}

.modal-open {
  overflow-y: auto;
}

#top-container {
		margin-top: 100px;
}

#cover-hi, #cover-hi:focus {
	color: white;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-left: -32px;
	outline: 0;
}

#cover-hi:hover, #cover-hi:link, #cover-hi:active {
	text-decoration: none;
	color:#B0B0B0;
	outline: 0;
}

#cover-text a, #cover-text a:hover {
	font-size: 16px;
	color: #669999;
	text-decoration: none;
	outline: 0;
	cursor: default;
}

#title1 {
	margin-left: -32px;
}

.cover-line {
	font-size: 20px;
	font-weight: 900;
	color: #707070;
}

.initiallyHidden {
	display: none;
}

#menu {
	margin-top: 10px;
	margin-left: 23px;
}

#menudown, #menuup {
	font-size: 50px;
	color:white;
}

#menudown:hover, #menuup:hover {
	color: #888888;
}


#hiddennav {
	background-color: #383838;
	padding-top: 5px;
	padding-bottom: 5px;
}

.nav-link1 {
	margin-left: 29px;
}

.nav-links {
	margin-left: 40px;
}

.nav-link1:hover, .nav-link1:link, .nav-links:hover, .nav-links:link {
	color: #888888;
	text-decoration: none;
	outline: 0;
}

.nav-links, .nav-links:focus, .nav-link1, .nav-link1:focus {
	color: #D8D8D8;
	font-size: 21px;
	outline:0;
	padding-bottom: 2px;
}

.nav-icon, .nav-icon:focus {
	float: right;
	color: #D8D8D8;
	font-size: 28px;
	margin-top: -6px;
	margin-right: 25px;
	outline:0;
}

.nav-icon:hover {
	color: #888888;
}

.modal-content p {
	margin-bottom: 25px;
	font-size: 16px;
}

#pdf-line1, #pdf-line3 {
	margin-top: -5px;
	margin-bottom: 20px;
}

#pdf-line2, #pdf-line4 {
	margin-bottom: 20px;
}

.modal-title, .close {
	margin-top: -5px;
	margin-bottom: -5px;
}

#proj-first {
	margin-top: -5px;
}

.fa-circle {
	margin-left: 6px;
	margin-right: 6px;
	font-size: 10px;
	margin-bottom: 5px;
	color:#383838;
}

#email {
	margin-left: 22px;
}

#R {
	margin-right: 7px;
}

#connect {
	margin-top: 25px;
}

.popover-title {
	font-weight: bold;
	font-size: 18px;
}

.popover-content {
	font-size: 16px;
}

.popover {
	max-width: 400px;
}

#projectsModal p {
	margin-top: 10px;
}

#teachModal li {
	margin-bottom: 15px;
}

/* ============================
		Mobile/Tablets Height
================================*/
@media (max-height:600px) {
	#top-container {
			margin-top: 60px;
	}

	#menu {
		margin-top: 0px;
	}
}


/* ============================
		Mobile/Tablets Width
================================*/

@media (max-width:1200px) {
	#title1, #cover-hi {
		margin-left: -135px;
	}
}

@media (max-width:992px) {
	#title1, #cover-hi {
		margin-left: 20px;
	}
}

@media (max-width:660px) {
	#title3, #dot2 {
		display: none;
	}
	#title1, #cover-hi {
		margin-left: 50px;
	}
}

@media (max-width:500px) {
	#title3, #dot2 {
		display: none;
	}
	#title1, #cover-hi {
		margin-left: 0px;
	}
}

@media (max-width:420px) {
	#title3, #title2, #dot1, #dot2 {
		display: none;
	}
	#title1, #cover-hi {
		margin-left: 30px;
	}
}
